<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>808043827714-fppr5mfaubrbk7n9sca9jesu1bqelm87.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.808043827714-fppr5mfaubrbk7n9sca9jesu1bqelm87</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>808043827714-2qu1c7ue13n1jqh4t40ptkopf6u4kgfk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBbMjssEXVbSHwAChfJ6OVoPCzAGO3KzWI</string>
	<key>GCM_SENDER_ID</key>
	<string>808043827714</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>firebase.auth.flutterflow</string>
	<key>PROJECT_ID</key>
	<string>fir-auth-classic</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-auth-classic.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808043827714:ios:4570ab2f9c35b8f1514d1b</string>
</dict>
</plist>